@import url('/src/style/main.css');

.card {
    width: 350px;
    height: 350px;
    border: 1px solid var(--fg-0);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: var(--bg-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    background-color: var(--bg-2);
    transform: scale(1.02);
}

:root {
    --top-bottom-margin: 5px;
}

.card > h2 {
    justify-self: flex-start;
    margin-bottom: 0px;
    /* margin-top: var(--top-bottom-margin); */
}

.card > h4 {
    margin-top: 0px;
}

.carg > img {
    align-self: end;
    /* margin-bottom: var(--top-bottom-margin); */
}